.header-section {
  background-color: #f1f1f1;
  padding-top: 5rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.row-section {
  padding-left: 2rem;
  padding-right: 2rem;
}
.button {
  width: 85%;
  border-radius: 3rem;
}

.icon {
  font-size: 30px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

/* style="font-size: 17px;line-height: 0px;" */
