.container {
  display: flex;
  height: 48rem;
  background-color: #fff;
}

.sidebar {
  /* padding: 1rem; */
  /* padding-right: 3rem; */
  background: #4d4b4b;
  width: 28%;
  color: #fff;
  text-align: center;
  overflow: auto;
  min-height: 70rem;
}

.sidebar p {
  text-decoration: none;
  color: #fff;
  font-size: large;
}

.sidebar p:hover {
  background: #fff;
  color: #000;
  padding: 5px;
}

.sidebar p a {
  text-decoration: none;
  color: #fff;
  font-size: large;
}

.sidebar p a:hover {
  font-weight: 500;
  color: #000;
  font-size: large;
}

.main {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 100%;
}
